name: 自动更新订阅链接
on:
  schedule:
    - cron: '0 22 * * *' # 每天早上6点运行
  workflow_dispatch:      # 允许手动运行

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v3
      - name: 设置 Python 环境
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: 安装依赖
        run: pip install requests pyyaml
      - name: 执行抓取脚本
        run: python update_subs.py
      - name: 提交并发布结果
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add sub_all.txt
          git commit -m "自动更新节点 [$(date)]" || exit 0
          git push